/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Navigation Panel */
.nav-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /* Dimensions */
    width: 100%;
    height: 64px;
    padding-top: 0px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-bottom: 0px;

    /* Making it sticky */
    position: sticky;
    top: 0;
    z-index: 1000;

    /* Transparent */
    background-color: rgba(0, 0, 0, 0.85);

    /* Cool Shadow */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.logo {
    width: 64px;
    height: 64px;
    background-color: #1F589A;
}

.tabs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #ce7d13;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;


    /* Dimensions */
    height: 52px;
    margin-left: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

    /* Adding a transition for hover */
    transition: border-bottom .5s, background-color .5s;
}

.tab:hover {
    border-bottom: 4px solid rgba(206, 125, 19, 0.25);
    background-color: rgba(227, 157, 157, 0.2);
}

.tab a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s;
}

.tab a:hover {
    color: #ff9800;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------FOOTER WITH PASSWORD ENTRY (START)--------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer */
.footer {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;

    /* min-height: 32px; */
    text-align: center;

    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: #000601;
}

.footer_password_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 24px;
    gap: 64px;
}

.password_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 20px;
}

.input_area_and_error_message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    gap: 8px;
}

.input_and_submit_button {
    display: flex;
    align-items: center;

    width: 100%;
    gap: 8px;
}

.input_area {
    flex-grow: 1;
    height: 40px;

    border-radius: 8px;
    padding: 8px;

    font-size: 16px;
}

.submit_button {
    min-width: 80px;
    height: 40px;
    padding: 4px;

    background-color: #44484F;
    border-radius: 4px;



    color: white;
    font-size: 16px;
}

#password_prompt {
    color: white;
    font-size: 24px;
    text-align: left;
}

#error_message {
    font-size: 16px;
    color: #EC7984;
    mix-blend-mode: exclusion;
}

.back_to_top_button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 4px;
    background-color: black;
    gap: 1.2em;
    padding: 1.2em;
}

.back_to_top_button p {
    font-family: 'roboto-thin', sans-serif;
    text-align: center;
    color: white;
    font-size: 1em;
}

.contact_header_panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 12px;
    border-bottom: 1px solid white;
    border-top-left-radius: 4;
    border-top-right-radius: 4px;
}

.list_of_contact_items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex-grow: 1;

    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;

    margin-top: 24px;
}

.contact_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 8px;
    border: 0.5px solid white;
    border-radius: 2px;

    margin-top: 12px;
}


/* FONT TEXT COLOR IN FOOTER */
.contact_details_heading_font {
    color: white;
}

.contact_item p {
    color: white;
}

.footnote_entry {
    color: white;
}

/* FONT TEXT COLOR IN FOOTER */


.contact_item:nth-of-type(1) {
    margin-top: 0;
}

.footnote {
    display: flex;
    align-items: center;

    margin-top: 24px;
    margin-bottom: 24px;
}

.footnote_entry {
    margin-right: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------FOOTER WITH PASSWORD ENTRY (END)----------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------- */


/* The stitched image container */
.stitched_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* Dimensions */
    width: 100%;
    max-width: 1920px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Individual images */
.image {
    width: 100%;

    /* This ensures that the images scale when resized */
    background-size: contain;
}

/* Each image's height has been adjusted in terms of it's aspect ratio */
#img_0 {
    background-image: url('assets/kims/0.png');
    aspect-ratio: 1920 / 3149;
}

#img_1 {
    background-image: url('assets/kims/1.png');
    aspect-ratio: 1920 / 2160;
}

#img_2 {
    background-image: url('assets/kims/2.png');
    aspect-ratio: 1920 / 2160;
}

#img_3 {
    background-image: url('assets/kims/3.png');
    aspect-ratio: 1920 / 1080;
}

#img_4 {
    background-image: url('assets/kims/4.png');
    aspect-ratio: 1920 / 2160;
}

#img_5 {
    background-image: url('assets/kims/5.png');
    aspect-ratio: 1920 / 3699;
}

#img_6 {
    background-image: url('assets/kims/6.png');
    aspect-ratio: 1920 / 1866;
}

#img_7 {
    background-image: url('assets/kims/7.png');
    aspect-ratio: 1920 / 2650;
}

#img_8 {
    background-image: url('assets/kims/8.png');
    aspect-ratio: 1920 / 1080;
}

#img_9 {
    background-image: url('assets/kims/9.png');
    aspect-ratio: 1920 / 1080;
}

#img_10 {
    background-image: url('assets/kims/10.png');
    aspect-ratio: 1920 / 1080;
}

#img_11 {
    background-image: url('assets/kims/11.png');
    aspect-ratio: 1920 / 2318;
}

#img_12 {
    background-image: url('assets/kims/12.png');
    aspect-ratio: 1920 / 1808;
}

#img_13 {
    background-image: url('assets/kims/13.png');
    aspect-ratio: 1920 / 3136;
}

#img_14 {
    background-image: url('assets/kims/14.png');
    aspect-ratio: 1920 / 3413.5;
}

#img_15 {
    background-image: url('assets/kims/15.png');
    aspect-ratio: 1920 / 3995;
}

#img_16 {
    background-image: url('assets/kims/16.png');
    aspect-ratio: 1920 / 1080;
}

#img_17 {
    background-image: url('assets/kims/17.png');
    aspect-ratio: 1920 / 3468;
}

#img_18 {
    background-image: url('assets/kims/18.png');
    aspect-ratio: 1920 / 1080;
}

#img_19 {
    background-image: url('assets/kims/19.png');
    aspect-ratio: 1920 / 1080;
}